name: Credential SDK tests

on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "22.x"
      - run: yarn install --frozen-lockfile --ignore-scripts
      - run: npm install -g turbo@2.0.5
      - run: turbo telemetry disable
      - run: turbo run test --filter @docknetwork/credential-sdk
