name: Linting and check docs generation
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2 # If you're using actions/checkout@v2 you must set persist-credentials to false in most cases for the deployment to work correctly.
        with:
          persist-credentials: false

      - name: Install, lint and generate docs # Install packages, run lint and jsdoc scripts. Not uploading the docs.
        run: |
          yarn install --frozen-lockfile
          yarn lint
          yarn docs
