name: npm Publish

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "22.x"
          registry-url: https://registry.npmjs.org/
      - run: yarn install --frozen-lockfile --ignore-scripts
      - run: yarn changeset publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
